*.swp
*.*~
project.lock.json
.DS_Store
*.pyc

# Visual Studio Code
.vscode

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebugPublic/
[Dd]ebug/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bin/
Properties/
PhotosUsers/
Files/
Templates/
Logs/
Temp/
bld/
[Bb]in/
[Oo]bj/
msbuild.log
msbuild.err
msbuild.wrn
.sonarqube

Tests/[Bb]in/
Tests/[Oo]bj/

# Visual Studio 2015
.vs/